<html>
    <head>
        <title>cats</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <p>picture of cat</p>
        <a href="/bruce"><img src="/cat1.jpeg" alt="poo"></a>
        <p>another picture of cat</p>
        <a href="/cattie"><img src="cat2.jpg" alt="poo"></a>
    </body>
</html>